{% extends 'base.html' %}

{% block title %}
  {% if user.is_authenticated %}
   - {{user.username}}
  {%else%}
   - Please Login
  {% endif %}
{% endblock title %}


{% block content %}

{% if user.is_authenticated %}
<section class = 'home-section'>

    {{user.username}}<br>
    {{user.email}}<br>
    {{user.last_name}}<br>


<div>
<a href= "{% url 'update_profile' user.id %}"><button type="button" class="btn btn-outline-secondary">Update info</button></a>
</div>
<div>
  <a href= "{% url 'change_password' user.id %}"><button type="button" class="btn btn-outline-secondary">Change Password</button></a>
  </div>
  {% if request.user.is_staff == False %}
  <div>
    <a href= "{% url 'delete_user' user.id %}"><button type="button" onclick="if(confirm('Are You sure? This cannot be undone.')){}else{return false;};" id="deletebutton" class="btn btn-outline-secondary">Delete Profile</button></a>
    </div>

    
  {% endif %}

{% else %}
  <h3> Please Login to view this page...</h3>
{% endif %}

{% endblock content%}s