{% extends 'base.html' %}

{% block title %}

{% endblock title %}


{% block content %}

{% if user.is_authenticated %}
<section class = 'home-section'>

    {{user.username}}<br>
    {{user.email}}<br>
    {{user.last_name}}<br>


<div>
<a href= "{% url 'update_profile' user.id %}"><button type="button" class="btn btn-outline-secondary">Update info</button></a>
</div>
<div>
  <a href= "{% url 'change_password' user.id %}"><button type="button" class="btn btn-outline-secondary">Change Password</button></a>
  </div>
<a class="nav-link" href="{% url 'my_books' %}">My Books</a>

{% else %}
  <h3> Please Login to view this page...</h3>
{% endif %}
  
{% endblock content%}