{% extends 'base.html' %}
{% load synopsis_tags %}
{% block title %}
  {% if user.is_authenticated %}
   - Select your favourite genres 
  {%else%}
   - Please Login
  {% endif %}
{% endblock title %}


{% block content %}
{% seen_by_tag user.id%}
{% if user.is_authenticated %}
<section class = 'home-section'>
  <div class = 'site-intro-wrapper'>
    <h3>Welcome {{ user.first_name }}. 
      Lets find you something to read...</h3>
  </div>
  <div> 
    <h6>Start By choosing genres. Select as many as you like...</h6>
  </div>
  <br/>
    <!-- Genres
  show all genres as buttons for the user to select-->

 
  <div class = 'form-check'>
    <form action= "" method="POST" class = 'auth-form'>
      {% csrf_token %}
      {% for genres in genre_list%}
        <input type="checkbox" class="btn-check" id="{{genres.genre}}" value={{genres.id}} name="selected_items">
        <label style="margin:5px;" class="btn btn-outline-secondary" for="{{genres.genre}}">{{genres.ght}}</label>
      {% endfor %}
      <div style = 'padding-top: 20px;' dir="rtl">
      <h4><button type="submit", class="genre-button">Lets Go...</button></h4>
      </div>
    </form>
  </div>
<div style="padding-bottom:200px;"></div>
</section>

{% else %}
  <h3> Please Login to view this page...</h3>
{% endif %}
{% endblock content%}



<a href= "{% url 'synopsis' genre.id %}"><button type="button" class="btn btn-outline-secondary">{{back}}</button></a>


<input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
<label class="btn btn-outline-primary" for="btn-check-outlined">{{ checkbox.choice_label }}</label>