{% extends 'base.html' %}

{% block title %}
  {% if user.is_authenticated %}
   - {{Book.title}}
  {%else%}
    Please Login
  {% endif %}
{% endblock title %}


{% block content %}
<!-- This function is only available to logged in users. -->

{% if user.is_authenticated %}
<section class = 'home-section'>
{{book.id}}
{{book.title}}<br>
{{book.author}}<br>
{{book.publish_date}}<br>
{{book.synopsis}}<br>
{{book.genre.all}}

<div class = 'like-book'>
  <form action= "{% url 'like_book' book.id  %}" method="POST" class = 'auth-form'>
    {% csrf_token %}
  <div class = 'genre-button-wrapper'>
    <!-- if liked by user == True-->
    {% if liked == True %}
      <h4><button class='genre-button' type="submit" name="book.id" value="{{book.id}}">Remove from My Books</button></h4>
    {% else %}
      <h4><button class='genre-button' type="submit" name="book.id" value="{{book.id}}"> Add To My Books</button></h4>
    {% endif %}
  </div>
</div>
<h4><a class='genre-button'href="{% url 'synopsis' selected_genres %}">Synopsis</a></h4>
<h4><a class='genre-button'href="{% url 'my_books' %}">My Books</a></h4>

<!-- these both go back. 
<div>
  <a href="{{request.META.HTTP_REFERER|escape}}">Back</a>
  <a href="javascript:history.go(-1)" class="btn btn-default">Cancel</a>
</div>
-->


{% else %}
  <h3> Please Login to view this page...</h3>
{% endif %}
  
{% endblock content%}