{% extends 'base.html' %}

{% block title %}
  {% if user.is_authenticated %}
   - {{Book.title}}
  {%else%}
    Please Login
  {% endif %}
{% endblock title %}


{% block content %}
<!-- This function is only available to logged in users. -->

{% if user.is_authenticated %}
<section class = 'home-section'>

{{book.title}}<br>
{{book.author}}<br>
{{book.publish_date}}<br>
{{book.synopsis}}<br>

<div>
<a href= "{% url 'synopsis' book.genre.id %}"><button type="button" class="btn btn-outline-secondary">Next Book</button></a>
</div>

<div class = 'like-book'>
  <form action= "{% url 'like_book' book.id  %}" method="POST" class = 'auth-form'>
    {% csrf_token %}
  <div class = 'genre-button-wrapper'>
    <!-- if liked by user == True-->
    {% if liked == True %}
      <h4><button class='genre-button' type="submit" name="book.id" value="{{book.id}}">Remove from My Books</button></h4>
    {% else %}
      <h4><button class='genre-button' type="submit" name="book.id" value="{{book.id}}"> Add To My Books</button></h4>
    {% endif %}
  </div>
</div>

{% else %}
  <h3> Please Login to view this page...</h3>
{% endif %}
  
{% endblock content%}