{% extends 'base.html' %}

{% block title %}
  {% if user.is_authenticated %}
   - Select your favourite genres 
  {%else%}
   - Please Login
  {% endif %}
{% endblock title %}


{% block content %}

{% if user.is_authenticated %}
<section class = 'home-section'>
  <div class = 'site-intro-wrapper'>
    <h3>Welcome {{ user.first_name }}. 
      Lets find you something to read...</h3>
  </div>
  <div> 
    Start By choosing a genre...
  </div>
    <!-- Genres
  show all genres as buttons for the user to select-->

 
  <div class = 'form-check'>
    <form action= "" method="POST" class = 'auth-form'>
      {% csrf_token %}
        {% for choices in form.selected_genres %}
            <label type="checkbox" class="btn btn-outline-secondary">
            {{ choices.tag }} {{ choices.choice_label }}
            </label>
        {% endfor %}
        </div>
      <div style = 'padding-top: 20px;'>
        <input type="submit", value = "Let's Go", class="btn btn-outline-secondary" style="width:100%"></input>
      </div>
  </div>
</section>

{% else %}
  <h3> Please Login to view this page...</h3>
{% endif %}
  
{% endblock content%}



<a href= "{% url 'synopsis' genre.id %}"><button type="button" class="btn btn-outline-secondary">{{back}}</button></a>


<input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
<label class="btn btn-outline-primary" for="btn-check-outlined">{{ checkbox.choice_label }}</label>