{% extends 'base.html' %}

{% block title %}
  {% if user.is_authenticated %}
    Login Successful 
  {%else%}
    Please Login
  {% endif %}
{% endblock title %}


{% block content %}

{% if user.is_authenticated %}
<section class = 'home-section'>
  <div class = 'site-intro-wrapper'>
    <h3>Welcome {{ first_name }}. 
      Lets find you something to read...</h3>
  </div>
  <div> 
    Start By choosing a genre...
  </div>
    <!-- Genres
  show all genres as buttons for the user to select-->

 
  <div class = 'genre-select'>
    <form action= "" method="POST" class = 'auth-form'>
      {% csrf_token %}
      {{ form.as_p }}

    {% for genre in genre_list %}
    <div class = 'genre-button-wrapper'>
    <h4><input class='genre-button' type="submit" name="{{genre.id}}" value="{{genre}}"></input></h4>
    </div>
    {% endfor %}
  </div>
</section>

{% else %}
  <h3> Please Login to view this page...</h3>
{% endif %}
  
{% endblock content%}

