{% extends 'base.html' %}

{% block title %}
  {% if user.is_authenticated %}
    Login Successful 
  {%else%}
    Please Login
  {% endif %}
{% endblock title %}


{% block content %}

{% if user.is_authenticated %}
<!-- must be logged in-->
  {% if my_books %}
    <section class = 'home-section'>
      {% for book in my_books %}
        {{book.title}}
        {{book.author}}
        <div class = 'like-book'>
          <form action= "{% url 'remove_book' book.id %}" method="POST" class = 'auth-form'>
            {% csrf_token %}
        <div class = 'genre-button-wrapper'>
            <h4><button class='genre-button' type="submit" name="book.id" value="{{book.id}}">Remove from My Books</button></h4>
        </div>
        </form>

      <br/>
      {% endfor%}
  {% else %}
    <h1>You hevnet liked any books yet, click 
      <a href = "{% url 'dashboard' %}" class = 'synopsis'>here </a> to start...</h1>
  {% endif %}
{% else %}
  <h3> Please Login to view this page...</h3>
{% endif %}
  
{% endblock content%}
