{% extends 'base.html' %}

{% block title %}
  {% if user.is_authenticated %}
    Login Successful 
  {%else%}
    Please Login
  {% endif %}
{% endblock title %}


{% block content %}

{% if user.is_authenticated %}
<section class = 'home-section'>
  <div> 
    Swipe
  </div>
    <!-- Genres
  show all genres as buttons for the user to select-->
  <div>
    {% for book in display_books %}
    <div>
    <a href = "{% url 'book_info' book.id %}" class = 'synopsis'>{{book.synopsis}}</a>
    </div>

    <!--
    <div class = 'like-book'>
      <form action= "{% url 'like_book' book.id  %}" method="POST" class = 'auth-form'>
        {% csrf_token %}
      <div class = 'genre-button-wrapper'>
        <input type="hidden" name="next" value="{{ request.path }}">
      <h4><button class='genre-button' type="submit" name="book.id" value="{{book.id}}">like</button></h4>
      </div>
    </div>
    -->
    {% endfor %}
  </div>

</section>

{% else %}
  <h3> Please Login to view this page...</h3>
{% endif %}
  
{% endblock content%}