{% extends 'base.html' %}

{% block title %}
  {% if user.is_authenticated %}
    Login Successful 
  {%else%}
    Please Login
  {% endif %}
{% endblock title %}


{% block content %}

{% if user.is_authenticated %}
<section class = 'home-section'>
  <div> 
    Swipe
  </div>
    <!-- Genres
  show all genres as buttons for the user to select-->
  <div>
    {% for book in pages %}
      <div>
        <a href = "{% url 'book_info' book.id %}" class = 'synopsis'>{{book.synopsis}}</a>
      </div>

      <!--//// TESTING PAGINATION ////
      {{ pages }}<br/>
      Has Next : {{pages.has_next}}<br/>
      Has Prev : {{pages.has_previous}}<br/>
      Current : {{pages.number}}<br/>
      Total : {{pages.paginator.num_pages}}<br/>
      //// -->


      {% if pages.has_next %}
          <a type="submit" href="?page={{ pages.next_page_number }}" name="button" value="button">next</a><br/> 
      {% endif%}
      {% if pages.has_next is False %}
      Thats it for {{genre_name }} this month. 
      <a href = "{% url 'dashboard' %}" class = 'synopsis'>back to genres.</a>
      {% endif %}
    {% endfor %}
   
  </div>

  
</section>

{% else %}
  <h3> Please Login to view this page...</h3>
{% endif %}
  
{% endblock content%}


